/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Set every element's box-sizing to border-box */

* {
    box-sizing: border-box;
    /*border: 1px solid gray;*/
}

html,
body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


/*Home Page*/

header nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

header a {
    text-decoration: none;
    color: grey
}

.links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    text-decoration: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.CTASection h1 {
    font-size: 90px;
    align-items: center;
}

button {
    font-size: 20px;
}

.CTASection {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding-bottom: 40px;
}

.CTA {
    padding-top: 60px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.contentCard1,
.contentCard2 {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    margin: 4% 7px;
}

.content img {
    width: 100%;
}

.contentCard3,
.contentCard4,
.contentCard5 {
    display: flex;
    flex-wrap: wrap;
    width: 32%;
    margin: 4% 4px;
}


/*Media Queries*/

@media (max-width: 800px) {
    header nav {
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    header a {
        flex-direction: row;
        justify-content: center;
    }
    .links {
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        width: 99%;
        padding-top: 5%;
    }
    .CTASection img {
        display: none;
    }
}

@media (max-width: 500px) {
    header a {
        border-bottom: 1px solid grey;
        width: 100%;
    }
    .links {
        margin: 0;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
    }
    .content {
        flex-direction: column;
    }
    .contentCard1,
    .contentCard2,
    .contentCard3,
    .contentCard4,
    .contentCard5 {
        flex-wrap: wrap;
        justify-content: space-between;
        width: 95%;
    }
}